autopep8==1.2.4
baluhn==0.1
beautifulsoup4==4.5.1
jdt==0.1
jsonschema==2.5.1
luhn==0.2.0
more-itertools==2.2
nose==1.3.7
pdt==0.7.8
pep8==1.7.0
pluggy==0.3.1
py==1.4.31
pymongo==3.3.0
six==1.10.0
tox==2.3.1
validate-email==1.3
virtualenv==15.0.3
